- if @event.errors.any?
  #error_explanation
    %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :from
  = f.datetime_select :from
.field
  = f.label :to
  = f.datetime_select :to
.field
  = f.label :words
  = f.text_field :words, :class => 'span12', :maxlength => 255, :placeholder => 'For stuff like "No cover", or "Smell my finger"'
.field
  = f.label :age_restriction
  = f.text_field :age_restriction, :maxlength => 255
.actions
  = f.submit 'Save'
