%h1 events <small>#{@events.size}</small>

%table.table
  %tr
    %th Name
    %th From
    %th To
    %th Words
    %th Age Restriction
    %th Acts
    %th
    %th
    %th

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.from.strftime('%c')
      %td= event.to.strftime('%c')
      %td= event.words
      %td= event.age_restriction
      %td
        - if event.participations.any?
          %ul.unstyled
            - event.participations.by_rank.each do |event_participation|
              %li= event_participation.act.name
      %td= link_to 'Show', admin_event_path(event)
      %td= link_to 'Edit', edit_admin_event_path(event)
      %td= link_to 'Destroy', admin_event_path(event), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_admin_event_path
