%h1
  %span events
  = link_to 'New', new_admin_event_path, :class => 'btn btn-primary btn-mini'
  %small.muted= page_entries_info @events

= paginate @events

%table.table
  %tr
    %th Name
    %th Date
    %th Words
    %th
    %th
    %th

  - @events.each do |event|
    %tr{ :class => ('muted' if event.past?) }
      %td= event.name
      %td= event.date_formatted
      %td= event.words
      %td= link_to 'Show', admin_event_path(event)
      %td= link_to 'Edit', edit_admin_event_path(event)
      %td= link_to 'Destroy', admin_event_path(event), :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @events
