%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Date:
  = @event.date_formatted
%p
  %b Price:
  = @event.price
%p
  %b Words:
  = @event.words

%p
  %b Poster:
  %a{ href: @event.poster.url, target: '_blank' }
    = image_tag @event.poster.thumb.url

= link_to 'Edit', edit_admin_event_path(@event)
\|
= link_to 'Back', admin_events_path
