%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b From:
  = @event.start
%p
  %b To:
  = @event.finish
%p
  %b Words:
  = @event.words

= link_to 'Edit', edit_admin_event_path(@event)
\|
= link_to 'Back', admin_events_path
