#north
  %ul
    %li= link_to 'home', admin_root_path
    %li= link_to 'patrons', admin_patrons_path
    %li= link_to 'beers', admin_beers_path
  %ul
    %li
      %span= current_admin.email
    %li= link_to 'Sign out', destroy_admin_session_path, :method => :delete
