#beverages

  - if @wines.any?

    .h
      = hammy_bullet
      %span Wine
      = hammy_bullet

    - @wines.each do |wine|
      .name= wine.name

  - { "Shit Cans" => @shit_cans,
      "Drafts" => @drafts,
      "Craft Cans" => @craft_cans }.each do |title, beers|

    - if beers.any?
      .h
        = hammy_bullet
        %span= title
        = hammy_bullet

      - beers.each_slice(2) do |slice|
        .row.beer
          - slice.each do |beer|
            .col-sm-6.col-md-6.name= beer.name
