#calendar
  - @events.each do |event|
    %div
      .name= event.name
      .words= simple_format event.words
      .date= event.date_formatted
      .price
        - if event.price.nil?
          = "free"
        - else
          = "$#{event.price}"
