#form

  .h
    = hammy_bullet
    %span Mailing List
    = hammy_bullet

  = form_for @patron, :url => patrons_path, :method => :post, :remote => true, :html => { :id => 'new_patron', :class => 'form-inline' } do |f|

    .form-group
      = f.text_field :email, :placeholder => 'Email Address', :value => (@patron.persisted? ? '' : @patron.email), :class => 'form-control'
      %button{ :type => 'submit', :class => 'btn btn-default' } Send

    = validation_errors @patron

    - if @patron.persisted?
      .notice Thanks!

  #loader
