%h1 patrons <small>#{@admin_patrons.size}</small>

%table.table
  %tr
    %th Email
    %th Created at
    %th Updated at
    %th Subscribed to newsletter?
    -#%th
    -#%th
    -#%th

  - @admin_patrons.each do |admin_patron|
    %tr
      %td= admin_patron.email
      %td= admin_patron.created_at.strftime('%c')
      %td= admin_patron.updated_at.strftime('%c')
      %td= admin_patron.mail_is_subscribed?
      -#%td= link_to 'Show', admin_patron_path(admin_patron)
      -#%td= link_to 'Edit', edit_admin_patron_path(admin_patron)
      -#%td= link_to 'Destroy', admin_patron_path(admin_patron), method: :delete, data: { confirm: 'Are you sure?' }
