%h1 event participations

= paginate @event_participations

%table.table
  %tr
    %th Event
    %th Act
    %th Act rank
    %th
    %th
    %th

  - @event_participations.each do |event_participation|
    %tr
      %td= event_participation.event.verbose
      %td= event_participation.act.name
      %td= event_participation.act_rank
      %td= link_to 'Show', admin_event_participation_path(event_participation)
      %td= link_to 'Edit', edit_admin_event_participation_path(event_participation)
      %td= link_to 'Destroy', admin_event_participation_path(event_participation), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event participation', new_admin_event_participation_path
