- if @beer.errors.any?
  #error_explanation
    %h2
      = pluralize(@beer.errors.count, "error")
      prohibited this beer from being saved:
    %ul
      - @beer.errors.full_messages.each do |msg|
        %li= msg
.field
  = f.label :name
  = f.text_field :name, :autofocus => true
.field
  = f.label :description
  = f.text_area :description
.field
  = f.label :is_shit_can
  = f.check_box :is_shit_can, default: true
.field
  = f.label :is_craft_can
  = f.check_box :is_craft_can, default: true
.field
  = f.label :is_draft
  = f.check_box :is_draft
-# .field
-#   = f.label :producer_id
-#   = f.number_field :producer_id
.field
  = f.label :percentage_of_alcohol
  = f.text_field :percentage_of_alcohol
.field
  = f.label :rank
  = f.text_field :rank
-# .field
-#   = f.label :beer_classification_id
-#   = f.number_field :beer_classification_id
.actions
  = f.submit 'Save'
