%p#notice= notice
%p
  %b Name:
  = @beer.name
%p
  %b Description:
  = @beer.description
%p
  %b Is Shit Can:
  = @beer.is_shit_can
%p
  %b Is Craft Can:
  = @beer.is_craft_can
%p
  %b Is Draft:
  = @beer.is_draft
%p
  %b Percentage of Alcohol:
  = @beer.percentage_of_alcohol
= link_to 'Edit', edit_admin_beer_path(@beer)
|
\#{link_to 'Back', admin_beers_path}
