%h1
  %span wines <small>#{@wines.size}</small>
  = link_to 'New', new_admin_wine_path, :class => 'btn btn-primary btn-mini'

%table.table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th
  - @wines.each do |wine|
    %tr
      %td= wine.name
      %td= wine.description
      %td= link_to 'Show', admin_wine_path(wine)
      %td= link_to 'Edit', edit_admin_wine_path(wine)
      %td= link_to 'Destroy', admin_wine_path(wine), confirm: 'Are you sure?', method: :delete
