!!! 5
%html
  %head

    %title= @title
    %meta{:name => "description", :content => @description}
    %meta{:name => "keywords", :content => @metatags}

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %section.north

    %section.central
      = yield

    %section.south

